name: Run 15m Scan

on:
  schedule:
    - cron: '*/15 * * * *' # Runs every 15 minutes
  workflow_dispatch:      # Allows manual testing

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - env:
          BINANCE_API_KEY: ${{ odLqxabc0ZPFxZOlvKtvgn5Z2hYmOYwmfilbDxx81KkvlY6rzRkb50o4gR0cCsPJ }}
          BINANCE_SECRET: ${{ ay6VztXW29duJNCDB20u9Ne72xnf3tP6uewJFlLaA3ZTM62BeufbgSsKHGq8pynt }}
          TELEGRAM_TOKEN: ${{ 8007974151:AAEDe1lb4sTvkFAWMcgGjvahVksQHhk0ukI }}
          CHAT_ID: ${{ 920308517 }}
        run: python trading_bot.py
